// ===== responsive =====
@mixin max($width) {
  @media screen and (max-width: $width + 'px') {
    @content;
  }
}
@mixin min($width) {
  @media screen and (min-width: $width + 'px') {
    @content;
  }
}

// ===== ol style =====
@mixin counter($var) {
  counter-reset: $var;
  & > li::before {
    content: counter($var) ') ';
    counter-increment: $var;
  }
}

// ===== placeholder style =====
@mixin placeholder-color($color) {
  opacity: 1;
  /* Chrome/Opera/Safari */
  &::-webkit-input-placeholder {
    opacity: 1;
    color: $color;
  }
  /* Firefox 19+ */
  &::-moz-placeholder {
    opacity: 1;
    color: $color;
  }
  /* IE 10+ */
  &:-ms-input-placeholder {
    opacity: 1;
    color: $color;
  }
  /* Firefox 18- */
  &:-moz-placeholder {
    opacity: 1;
    color: $color;
  }
}

// ===== responsive font =====
@mixin responsive-font($pcSize, $mobSize) {
  $maxWidth: 1400; //контейнер
  $addSize: $pcSize - $mobSize; //різниця в розмірі
  $maxWidth: $maxWidth - 320; //різниця в контейнерах
  font-size: $pcSize + px; //розмір на десктопі
  @media (max-width: 1400px) {
    //мобільный шрифт - 16px
    //десктопний шрифт - 32px
    //контейнер - 1200px
    //calc(мінімальний размір шрифту + різниця з максимальним * (100vw            / розмір контейнера))
    //font-size: calc(16px           +           16           * ((100vw - 320px)  /     (1200)));
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
  }
}
