// ===== main colors =====
$deep-green: #014750;
$main-green: #0ad482;
$fresh-mint: #A1F2C0;
$dark-green: #081c22;
$neutral-grey: #63767e;
$light-grey: #e7edf4;
$neutral-white: #f8f8fc;
$error: #f2a1a1;
$gradient: linear-gradient(90deg, #0ad582 0%, #a2f2c0 100%);

// ===== transition =====
$transition: .3s ease-in-out;

// ===== fonts =====
$font: 'Inter', sans-serif;
$font-bold: 'Nunito', sans-serif;